$color-grey-light: #b6b6b6;
$color-white: #fff;
$color-primary: #18d26e;
$color-primary-light: #258d55;
$color-background: #222222;
// $color-background: #000000;
$color-header-background: #222222;
$color-grey-lightest: #5e5e5e;
$color-section-border: rgb(17, 17, 17);
