/*

0 - 600px:       Phone
600 - 900px:     Tablet potrait
900 - 1200px:    Tablet landscape
[1200 - 1800]:   Desktop (where our normal styles apply)
1800px + :       Big desktop

breakpoint argument choices: 
- phone
- tablet-port
- tablet-land
- big-desktop

ORDER: Base + typograhy > general layout + grid > page layout > components

1em = 16px;

*/
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 70%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 65%;
  }
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #222222;
}

/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #222222;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(37, 141, 85, 0.5);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

::-moz-selection {
  background-color: #258d55;
  color: #fff;
}

::selection {
  background-color: #258d55;
  color: #fff;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
  padding: 0 4rem;
}

@media only screen and (max-width: 30.3125em) {
  .row {
    padding: 1rem 2.5rem;
  }
}

.u-margin-bottom-medium {
  margin-bottom: 2rem;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.center-align {
  text-align: center;
}

.right-align {
  text-align: right;
}

.u-section-border-bottom {
  border-bottom: 1px solid #111111;
}

body {
  font-family: "Lato", serif;
  font-weight: 400;
  line-height: 1.7;
  color: #b6b6b6;
  word-spacing: 0.3rem;
}

.heading-secondary {
  color: #258d55;
  font-size: 2.5rem;
  position: relative;
  font-family: "Space Mono", monospace;
}

.paragraph {
  font-size: 1.6rem;
}

.btn-neo {
  margin: 4rem 3rem 3rem 0;
}

.btn-neo, .btn-neo:link, .btn-neo:visited {
  line-height: 1.7;
  display: inline-block;
  text-decoration: none;
  background: #222222;
  font-size: 1.5rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 100px;
  border: none;
  -webkit-box-shadow: 5px 5px 18px #111111, -5px -5px 18px #333333;
          box-shadow: 5px 5px 18px #111111, -5px -5px 18px #333333;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.btn-neo:hover {
  color: #fff;
  border-radius: 100px;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  background: #258d55;
  -webkit-box-shadow: 1px 2px 2.5rem rgba(114, 114, 114, 0.8);
          box-shadow: 1px 2px 2.5rem rgba(114, 114, 114, 0.8);
}

.btn-neo:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0.5px 1px 1rem rgba(114, 114, 114, 0.8);
          box-shadow: 0.5px 1px 1rem rgba(114, 114, 114, 0.8);
}

.btn-neo--white {
  color: #b6b6b6;
}

.btn-neo--green {
  color: #258d55;
}

.form__box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-row-gap: 3rem;
}

@media only screen and (max-width: 56.25em) {
  .form__box {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.form__group {
  width: 70%;
}

@media only screen and (max-width: 37.5em) {
  .form__group {
    width: 100%;
  }
}

.form__input--textarea {
  width: 100%;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
}

@media only screen and (max-width: 56.25em) {
  .form__input--textarea {
    width: 70%;
    margin-bottom: 2rem;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
}

@media only screen and (max-width: 37.5em) {
  .form__input--textarea {
    width: 100%;
  }
}

.form__input {
  font-family: inherit;
  color: inherit;
  font-size: 1.6rem;
  padding: 1.4rem 1.5rem;
  border-radius: 2px;
  border: none;
  width: 100%;
  background-color: #222222;
  -webkit-box-shadow: 2px 2px 7px #151515, -2px -2px 7px #2f2f2f;
          box-shadow: 2px 2px 7px #151515, -2px -2px 7px #2f2f2f;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.form__input:-webkit-autofill, .form__input:-webkit-autofill:hover, .form__input:-webkit-autofill:focus, .form__input:-webkit-autofill:active {
  -webkit-transition: all 0.2s ease-in-out, background-color 5000s ease-in-out 0s;
  transition: all 0.2s ease-in-out, background-color 5000s ease-in-out 0s;
}

.form__input:-webkit-autofill {
  -webkit-text-fill-color: #b6b6b6 !important;
}

.form__input:focus {
  outline: none;
  -webkit-box-shadow: 5px 5px 18px #111111, -5px -5px 18px #333333;
          box-shadow: 5px 5px 18px #111111, -5px -5px 18px #333333;
  border-bottom: 1px solid #258d55;
}

.form__input:focus:invalid {
  border-bottom: 1px solid orangered;
}

.form__input::-webkit-input-placeholder {
  color: #636363;
}

.form__label {
  font-family: inherit;
  font-size: 1.2rem;
  display: block;
  margin-top: 1.5rem;
  margin-left: 1.6rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-5rem);
          transform: translateY(-5rem);
}

.form__input--textarea {
  resize: none;
  font-family: inherit;
  font-size: 1.6rem;
  color: inherit;
  background-color: #222222;
  border: none;
  padding: 1rem;
  border-bottom: 1px solid transparent;
  -webkit-box-shadow: 2px 2px 7px #151515;
          box-shadow: 2px 2px 7px #151515;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.form__input--textarea::-webkit-input-placeholder {
  color: #636363;
}

.form__input--textarea:focus {
  outline: none;
  -webkit-box-shadow: 5px 5px 18px #111111;
          box-shadow: 5px 5px 18px #111111;
  border-bottom: 1px solid #258d55;
}

.project {
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
}

.project--natourae {
  background-image: -webkit-gradient(linear, left bottom, right top, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.3))), url("/img/projectNatourae1.png");
  background-image: linear-gradient(to right top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), url("/img/projectNatourae1.png");
}

.project--forkify {
  background-image: -webkit-gradient(linear, left bottom, right top, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.3))), url("/img/projectForkify1.png");
  background-image: linear-gradient(to right top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), url("/img/projectForkify1.png");
}

.project--banker {
  background-image: -webkit-gradient(linear, left bottom, right top, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.3))), url("/img/projectBankist1.png");
  background-image: linear-gradient(to right top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), url("/img/projectBankist1.png");
}

.project--mapty {
  background-image: -webkit-gradient(linear, left bottom, right top, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.3))), url("/img/projectMapty1.png");
  background-image: linear-gradient(to right top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), url("/img/projectMapty1.png");
}

.project__github-link:link, .project__github-link:visited {
  position: absolute;
  top: 3rem;
  right: 3rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.2s ease 0.6s;
  transition: all 0.2s ease 0.6s;
  z-index: 1;
}

.project__icon {
  font-size: 4rem;
  color: #fff;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.project__github-link:hover .project__icon,
.project__github-link:active .project__icon {
  color: rgba(0, 0, 0, 0.6);
}

.project:hover .project__github-link {
  opacity: 1;
  visibility: visible;
}

.project__link:link, .project__link:visited {
  background-size: cover;
  background-position: center;
  border-radius: 3px;
  text-decoration: none;
  -webkit-box-shadow: 2px 2px 4px #181818;
          box-shadow: 2px 2px 4px #181818;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.project__link:hover, .project__link:active {
  -webkit-transform: translateY(-3px) scale(1.02);
          transform: translateY(-3px) scale(1.02);
  -webkit-box-shadow: 15px 15px 29px #161616;
          box-shadow: 15px 15px 29px #161616;
}

.project__container {
  width: 100%;
  height: 32rem;
  position: relative;
  color: #fff;
}

.project__container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background-image: -webkit-gradient(linear, left top, right top, from(#258d55), to(rgba(37, 141, 85, 0.8)));
  background-image: linear-gradient(to right, #258d55, rgba(37, 141, 85, 0.8));
  -webkit-transition: all 0.3s ease 0.3s;
  transition: all 0.3s ease 0.3s;
  animation-direction: reverse;
}

.project__image {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 50%;
  height: 100%;
  width: 100%;
  -webkit-transform: translateX(-150%);
          transform: translateX(-150%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.project__link:hover .project__image,
.project__github-link:hover + .project__link .project__image {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.project__link:hover .project__container::after,
.project__github-link:hover + .project__link .project__container::after {
  width: 100%;
}

.project__content {
  position: absolute;
  bottom: 20%;
  left: 8%;
  z-index: 1;
  -webkit-transition: all 0.3s ease 0.3s;
  transition: all 0.3s ease 0.3s;
}

.project__title {
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 0.3rem;
}

.project__sub-title {
  font-size: 1.5rem;
}

.project__info {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 85%;
  font-size: 1.4rem;
  top: 40%;
  left: 8%;
  z-index: 1;
  -webkit-transition: all 0.3s ease 0.3s;
  transition: all 0.3s ease 0.3s;
}

.project__description {
  margin-bottom: 1rem;
}

.project__link:hover .project__content,
.project__github-link:hover + .project__link .project__content {
  -webkit-transform: translateY(-15rem);
          transform: translateY(-15rem);
}

.project__link:hover .project__info,
.project__github-link:hover + .project__link .project__info {
  opacity: 1;
  visibility: visible;
}

@media only screen and (max-width: 56.25em), only screen and (hover: none) {
  .project--natourae {
    background-image: -webkit-gradient(linear, left top, right top, from(#258d55), to(rgba(37, 141, 85, 0.8))), url("/img/projectNatourae1.png");
    background-image: linear-gradient(to right, #258d55, rgba(37, 141, 85, 0.8)), url("/img/projectNatourae1.png");
  }
  .project--forkify {
    background-image: -webkit-gradient(linear, left top, right top, from(#258d55), to(rgba(37, 141, 85, 0.8))), url("/img/projectForkify1.png");
    background-image: linear-gradient(to right, #258d55, rgba(37, 141, 85, 0.8)), url("/img/projectForkify1.png");
  }
  .project--banker {
    background-image: -webkit-gradient(linear, left top, right top, from(#258d55), to(rgba(37, 141, 85, 0.8))), url("/img/projectBankist1.png");
    background-image: linear-gradient(to right, #258d55, rgba(37, 141, 85, 0.8)), url("/img/projectBankist1.png");
  }
  .project--mapty {
    background-image: -webkit-gradient(linear, left top, right top, from(#258d55), to(rgba(37, 141, 85, 0.8))), url("/img/projectMapty1.png");
    background-image: linear-gradient(to right, #258d55, rgba(37, 141, 85, 0.8)), url("/img/projectMapty1.png");
  }
  .project__github-link:link, .project__github-link:visited {
    opacity: 1;
    visibility: visible;
    -webkit-transition: none;
    transition: none;
  }
  .project__github-link:hover + .project__link .project__content {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .project__container {
    width: 100%;
    height: auto;
    position: relative;
    color: #fff;
    padding: 4rem 6rem;
  }
  .project__container::after {
    display: none;
  }
  .project__image {
    display: none;
  }
  .project__content {
    position: relative;
    bottom: 0;
    left: 0;
    z-index: 0;
    -webkit-transition: none;
    transition: none;
    margin-bottom: 2.5rem;
  }
  .project__info {
    opacity: 1;
    visibility: visible;
    position: relative;
    width: 100%;
    font-size: 1.4rem;
    top: 0;
    left: 0;
    z-index: 0;
    -webkit-transition: none;
    transition: none;
  }
  .project__description {
    margin-bottom: 1.5rem;
  }
  .project__link:hover .project__content {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media only screen and (max-width: 37.5em) {
  .project__container {
    padding: 4rem 2rem;
  }
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 12rem;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  font-family: "Space Mono", monospace;
}

@media only screen and (max-width: 75em) {
  .header__nav {
    padding: 3rem 6rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .header__nav {
    padding: 1rem 4rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .header__nav {
    padding: 0.5rem 2.8rem;
  }
}

.header__nav-logo {
  width: 6rem;
  -webkit-transform: translateY(0.5rem);
          transform: translateY(0.5rem);
}

@media only screen and (max-width: 37.5em) {
  .header__nav-logo {
    width: auto;
    height: 5rem;
  }
}

.header__nav--big {
  display: block;
}

@media only screen and (max-width: 56.25em) {
  .header__nav--big {
    display: none;
  }
}

.header__nav-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav-item {
  padding: 0rem 2rem;
}

.header__nav-link {
  position: relative;
  padding: 1rem 0rem;
}

.header__nav-link:link, .header__nav-link:visited {
  color: #b6b6b6;
  text-decoration: none;
  font-size: 1.6rem;
}

.header__nav-link:link::after, .header__nav-link:visited::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0rem;
  width: 0;
  height: 2px;
  background-color: #18d26e;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

.header__nav-link:hover, .header__nav-link:active, .header__nav-link--active:link, .header__nav-link--active:visited {
  color: #fff;
}

.header__nav-link:hover::after, .header__nav-link:active::after, .header__nav-link--active:link::after, .header__nav-link--active:visited::after {
  width: 100%;
}

.header__nav--small {
  display: none;
}

@media only screen and (max-width: 56.25em) {
  .header__nav--small {
    display: block;
  }
}

.header__nav--small .hamburger-btn {
  position: fixed;
  top: 3rem;
  right: 4rem;
  width: 3.5rem;
  height: 2.5rem;
  z-index: 15;
}

@media only screen and (max-width: 37.5em) {
  .header__nav--small .hamburger-btn {
    top: 2.25rem;
    right: 3.5rem;
  }
}

.header__nav--small .hamburger-btn div {
  height: 0.25rem;
  width: 3.5rem;
  background-color: #b6b6b6;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header__nav--small .hamburger-btn div:before, .header__nav--small .hamburger-btn div:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #b6b6b6;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__nav--small .hamburger-btn div:before {
  -webkit-transform: translateY(-0.8rem);
          transform: translateY(-0.8rem);
}

.header__nav--small .hamburger-btn div:after {
  -webkit-transform: translateY(0.8rem);
          transform: translateY(0.8rem);
}

.header__nav--small .overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
  -webkit-transition: all 0.33s ease-in-out;
  transition: all 0.33s ease-in-out;
}

.header__nav--small .hamburger__nav {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: Min(75vw, 400px);
  background-color: #222222;
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
}

.header__nav--small .hamburger__nav-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__nav--small .hamburger__nav-item {
  margin: 2rem 0;
}

.header__nav--small .hamburger__nav-link:link, .header__nav--small .hamburger__nav-link:visited {
  text-decoration: none;
  font-size: 2rem;
  color: #fff;
}

.header__nav--small .hamburger-btn.open div {
  background-color: transparent;
}

.header__nav--small .hamburger-btn.open div:before {
  -webkit-transform: translateY(0) rotate(135deg);
          transform: translateY(0) rotate(135deg);
}

.header__nav--small .hamburger-btn.open div:after {
  -webkit-transform: translateY(0) rotate(-135deg);
          transform: translateY(0) rotate(-135deg);
}

.header__nav--small .hamburger-btn.open + .overlay {
  opacity: 1;
  visibility: visible;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.header__nav--small .hamburger-btn.open ~ .hamburger__nav {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
  visibility: visible;
  -webkit-box-shadow: -10px 0 30px -15px rgba(0, 0, 0, 0.5);
          box-shadow: -10px 0 30px -15px rgba(0, 0, 0, 0.5);
}

.sticky {
  background-color: #222222;
  padding: 0.5rem 0;
  -webkit-box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 7.5rem;
  opacity: 1;
  visibility: visible;
  width: 100%;
  z-index: 10;
  -webkit-transition-property: background-color, visibility, opacity, z-index;
  transition-property: background-color, visibility, opacity, z-index;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

@media only screen and (max-width: 37.5em) {
  .sticky {
    height: 6.5rem;
    background-color: rgba(34, 34, 34, 0.7);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
  }
}

.sticky .header__nav-logo {
  margin-left: 10rem;
}

@media only screen and (max-width: 75em) {
  .sticky .header__nav-logo {
    margin-left: 6rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .sticky .header__nav-logo {
    height: 5rem;
    width: auto;
    margin-left: 3rem;
  }
}

.sticky .header__nav-list {
  margin-right: 10rem;
}

@media only screen and (max-width: 75em) {
  .sticky .header__nav-list {
    margin-right: 6rem;
  }
}

.sticky .header__nav--small {
  margin-right: 5rem;
}

.header {
  height: 100vh;
  background-image: linear-gradient(65deg, #222222 30%, rgba(0, 0, 0, 0.2)), url("../img/bg-01.jpg");
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: 0 1px 1rem rgba(0, 0, 0, 0.8);
          box-shadow: 0 1px 1rem rgba(0, 0, 0, 0.8);
}

@media only screen and (max-width: 37.5em) {
  .header {
    background-image: linear-gradient(45deg, #222222 35%, rgba(0, 0, 0, 0.2)), url("../img/bg-01.jpg");
  }
}

.header__content-box {
  position: absolute;
  top: 40%;
  left: 20%;
  display: inline-block;
}

@media only screen and (max-width: 30.3125em) {
  .header__content-box {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 2.5rem;
  }
}

.header__hello {
  font-size: 2rem;
  font-family: "Space Mono", monospace;
}

.header__name {
  color: #fff;
  font-size: 5rem;
  font-weight: 700;
  display: block;
  letter-spacing: 0.3rem;
}

.header__designation {
  font-size: 1.8rem;
  color: #fff;
  letter-spacing: 0.15rem;
  font-family: "Space Mono", monospace;
  display: block;
  border-bottom: 1px solid #18d26e;
}

.header__links {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__about-link:link, .header__about-link:visited {
  display: inline-block;
  text-decoration: none;
  background: #222222;
  font-size: 1.5rem;
  color: #258d55;
  padding: 0.5rem 1.5rem;
  border-radius: 100px;
  -webkit-box-shadow: 5px 5px 18px #111111, -5px -5px 18px #333333;
          box-shadow: 5px 5px 18px #111111, -5px -5px 18px #333333;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.header__about-link:hover {
  color: #fff;
  border-radius: 100px;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  background: #258d55;
  -webkit-box-shadow: 1px 2px 2.5rem rgba(114, 114, 114, 0.8);
          box-shadow: 1px 2px 2.5rem rgba(114, 114, 114, 0.8);
}

.header__about-link:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0.5px 1px 1rem rgba(114, 114, 114, 0.8);
          box-shadow: 0.5px 1px 1rem rgba(114, 114, 114, 0.8);
}

.header__social-link {
  position: relative;
  border-radius: 50%;
  height: 3.5rem;
  width: 3.5rem;
}

.header__social-link:link, .header__social-link:visited {
  margin-left: 3rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-box-shadow: 5px 5px 18px #111111, -5px -5px 18px #333333;
          box-shadow: 5px 5px 18px #111111, -5px -5px 18px #333333;
  transition: all 0.2s ease-in-out;
  background: #222222;
}

.header__social-link:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  background: #258d55;
  -webkit-box-shadow: 1px 2px 2.5rem rgba(114, 114, 114, 0.8);
          box-shadow: 1px 2px 2.5rem rgba(114, 114, 114, 0.8);
}

.header__social-link:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0.5px 1px 1rem rgba(114, 114, 114, 0.8);
          box-shadow: 0.5px 1px 1rem rgba(114, 114, 114, 0.8);
}

.header__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding-left: 0.1rem;
  font-size: 2rem;
  color: #b6b6b6;
}

.about-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(34rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(34rem, 1fr));
  margin-bottom: 10rem;
}

@media only screen and (max-width: 56.25em) {
  .about-box {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-row-gap: 4rem;
  }
}

.about-box__photo-box {
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: center;
}

.about-box__photo {
  height: 30rem;
  border-radius: 3px;
  -webkit-filter: brightness(0.8) contrast(1.2) saturate(1.5) sepia(0.5);
          filter: brightness(0.8) contrast(1.2) saturate(1.5) sepia(0.5);
  position: relative;
}

@media only screen and (max-width: 30.3125em) {
  .about-box__photo {
    width: Min(100%, 30rem);
    height: auto;
  }
}

@media only screen and (max-width: 56.25em) {
  .about-box__content {
    text-align: left;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
}

.about-box__cta-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 56.25em) {
  .about-box__cta-container {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 30.3125em) {
  .about-box__cta-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 30.3125em) {
  .about-box__cta-container .btn-neo {
    margin: 3.5rem 0.5rem 0rem 0.5rem;
  }
}

.skilex__btn-div {
  text-align: center;
}

.skilex__btn-div {
  margin-bottom: 6rem;
}

.skilex__btn {
  padding: 1rem 2rem;
  margin: 0 1rem;
  border-radius: 100px;
  background-color: #222222;
  border: none;
  color: #b6b6b6;
  cursor: pointer;
  -webkit-box-shadow: 3px 3px 5px #141414, -3px -3px 5px #303030;
          box-shadow: 3px 3px 5px #141414, -3px -3px 5px #303030;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.skilex__btn--active {
  -webkit-box-shadow: inset 2.5px 2.5px 5px #141414, inset -2.5px -2.5px 5px #303030;
          box-shadow: inset 2.5px 2.5px 5px #141414, inset -2.5px -2.5px 5px #303030;
  color: #258d55;
}

.skilex__skills-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(35rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  grid-gap: 4rem;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

@media only screen and (max-width: 37.5em) {
  .skilex__skills-box {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.skilex__skill {
  width: 90%;
}

@media only screen and (max-width: 37.5em) {
  .skilex__skill {
    width: 100%;
  }
}

.skilex__skill-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skilex__skill-name {
  text-transform: uppercase;
}

.skilex__skill-percentage--html {
  margin-right: calc(100% - 75%);
}

.skilex__skill-percentage--javascript {
  margin-right: calc(100% - 85%);
}

.skilex__skill-percentage--css {
  margin-right: calc(100% - 80%);
}

.skilex__skill-percentage--react {
  margin-right: calc(100% - 75%);
}

.skilex__skill-percentage--express {
  margin-right: calc(100% - 85%);
}

.skilex__skill-percentage--mongo {
  margin-right: calc(100% - 80%);
}

.skilex__skill-bar {
  width: 100%;
  margin-top: 1.2rem;
  height: 1.2rem;
  border-radius: 50px;
  position: relative;
  -webkit-box-shadow: inset 1.5px 1.5px 3px #141414, inset -1.5px -1.5px 3px #303030;
          box-shadow: inset 1.5px 1.5px 3px #141414, inset -1.5px -1.5px 3px #303030;
}

.skilex__skill-bar::after {
  content: "";
  width: 50%;
  height: 40%;
  position: absolute;
  top: 50%;
  left: 1px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #258d55;
  border-radius: 100px;
}

.skilex__skill-bar--html::after {
  width: 75%;
}

.skilex__skill-bar--javascript::after {
  width: 85%;
}

.skilex__skill-bar--css::after {
  width: 80%;
}

.skilex__skill-bar--react::after {
  width: 75%;
}

.skilex__skill-bar--express::after {
  width: 85%;
}

.skilex__skill-bar--mongo::after {
  width: 80%;
}

.projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(42rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(42rem, 1fr));
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
}

@media only screen and (max-width: 37.5em) {
  .projects {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.footer {
  padding: 8rem 0 6rem 0;
  -webkit-box-shadow: 0 -1px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0 -1px 15px rgba(0, 0, 0, 0.5);
}

.footer__logo {
  width: 15rem;
}

.footer__details {
  margin-top: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 75em) {
  .footer__details {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.footer__nav {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  border-top: 1px solid #636363;
  padding-top: 1.5rem;
  margin-bottom: 0.5rem;
}

@media only screen and (max-width: 75em) {
  .footer__nav {
    border-top: 1px solid transparent;
  }
}

.footer__nav-list {
  list-style: none;
}

.footer__nav-item {
  display: inline-block;
}

.footer__nav-item:not(:last-child) {
  margin-right: 2rem;
}

.footer__nav-link:link, .footer__nav-link:visited {
  text-decoration: none;
  color: #b6b6b6;
  font-size: 1.6rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.footer__nav-link:hover, .footer__nav-link:active {
  color: #258d55;
}

.footer__copyright-box {
  text-align: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.footer__copyright {
  font-size: 1.4rem;
  font-weight: 300;
  border-top: 1px solid #636363;
  padding-top: 1.5rem;
  margin-bottom: 0.5rem;
}

@media only screen and (max-width: 75em) {
  .footer__copyright {
    border-top: 1px solid transparent;
  }
}

@media only screen and (max-width: 37.5em) {
  .footer__copyright {
    font-size: 1rem;
  }
}

.footer__heart {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  color: #258d55;
}

.footer__social-link:link, .footer__social-link:visited {
  height: 3.5rem;
  width: 3.5rem;
  display: inline-block;
  padding: 0.8rem;
  margin-top: 1.5rem;
  border-radius: 100px;
  line-height: 1;
  position: relative;
  color: #b6b6b6;
  font-size: 2rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.footer__social-link:hover, .footer__social-link:active {
  background-color: #258d55;
}

.footer__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section-about {
  background-color: #222222;
  padding: 12rem 0;
  margin-top: 2rem;
}

.section-contact {
  padding: 12rem 0;
}

.section-projects {
  padding: 12rem 0;
}

.section-to-hide > * {
  -webkit-transition: -webkit-transform 0.6s ease-out 0.1s;
  transition: -webkit-transform 0.6s ease-out 0.1s;
  transition: transform 0.6s ease-out 0.1s;
  transition: transform 0.6s ease-out 0.1s, -webkit-transform 0.6s ease-out 0.1s;
}

.section--hidden > * {
  -webkit-transform: translateY(15rem);
          transform: translateY(15rem);
  opacity: 0;
}
/*# sourceMappingURL=main.css.map */