.btn-neo {
  margin: 4rem 3rem 3rem 0;
  &,
  &:link,
  &:visited {
    line-height: 1.7;
    display: inline-block;
    text-decoration: none;
    background: $color-background;
    font-size: 1.5rem;
    font-family: "Space Mono", monospace;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    border-radius: 100px;
    border: none;
    box-shadow: 5px 5px 18px #111111, -5px -5px 18px #333333;
    transition: all 0.2s ease-in-out;
  }

  &:hover {
    color: $color-white;
    border-radius: 100px;
    transform: translateY(-3px);
    background: $color-primary-light;
    box-shadow: 1px 2px 2.5rem rgba(114, 114, 114, 0.8);
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0.5px 1px 1rem rgba(114, 114, 114, 0.8);
  }

  &--white {
    color: $color-grey-light;
  }

  &--green {
    color: $color-primary-light;
  }
}
